/*
* {
    border: 1px solid black;
}
*/

@font-face {
    font-family: 'headfont';
    src: url('common/fonts/amaranth-webfont.eot');
    src: url('common/fonts/amaranth-webfont.eot?#naviefix') format('embedded-opentype'),
         url('common/fonts/amaranth-webfont.woff') format('woff'),
         url('common/fonts/amaranth-webfont.ttf') format('truetype'),
         url('common/fonts/amaranth-webfont.svg#navamaranthregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #ed6e79;
    color: #FFFFFF;
    font-family: 'headfont';
}
 
a, img{
    margin: 0px;
    padding: 0px;
    float:left;
    border: 0;
}

p {
    margin: 1em 0;
    padding: 0;
}

#splashcontent {
    height: 200px;
    width: 354px;
}

#splashfooter {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

#splashpopups {
    height: 200px;
    width: 354px;
    font-size: 20px;
}

#grownupspopup {
    position: absolute;
    left: 177px;
    text-align: center;
    top: 85px;
    width: 177px;
}
#kidspopup {
    position: absolute;
    left: 0px;
    text-align: center;
    top: 115px;
    width: 177px;
}