
#bubblebox {
	position: absolute;
	top:-200px;
	left:-250px;
	pointer-events:none;
	width: 1200px;
	height: 900px;
	overflow: hidden;
}

#bubblebox a {
	display:block;
	pointer-events:all;
	margin: 0;
	padding: 0;
	width:200px;
}

#bubblebox p {
	position: absolute;
	text-align: center;
	font-family: headfont;
	font-size: 1.3em;
	color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	left: 0px;
	top: 130px;
}

#bubblebox img {
	opacity: 0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}