
#content {
	position: relative;
	width: 500px;
	height: 370px;
	padding: 100px;
	margin: 20px auto;
	z-index: 25;
}

#content #linkback {
	position: absolute;
	left: 125px;
	top: 100px;
	outline: 1px solid black;
}

#content #linkfwd {
	position: absolute;
	left: 525px;
	top: 100px;
	outline: 1px solid black;
}

#content h2{
	color: #FFFFFF;
	text-align: center;
	margin: 0px;
	font-size: 1.7em;
}

#content pre {
	text-align: center;
	margin: 0.5em 0px;
}

#content img {
	display: inline-block;
}
