
#footer {
	width: 100%;
	background: #000000;
	position: fixed;
	bottom: 0;
	height: 122px;
	text-align: center;
	z-index: 300;
}

#footer p {
	font-size: 16px;
	color: white;
	padding: 0.5em 2em;
}

#footer a {
	color: white;
}

#footerlogo {
	position: fixed;
	bottom: 4px;
	left: 0;
	z-index: 400;
}