div {
    outline: 1px solid red;
}

@font-face {
    font-family: 'headfont';
    src: url('fonts/amaranth-webfont.eot');
    src: url('fonts/amaranth-webfont.eot?#naviefix') format('embedded-opentype'),
         url('fonts/amaranth-webfont.woff') format('woff'),
         url('fonts/amaranth-webfont.ttf') format('truetype'),
         url('fonts/amaranth-webfont.svg#navamaranthregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: headfont,Arial,Helvetica,sans-serif;
    font-size: 20px;
}

#nav {
    height: 150px;
    width: 700px;
    margin: 20px auto;
}

#nav #navage {
    height: 100px;
    width: 200px;
    margin: 0px auto;
}

#nav #navage .navagelink {
    display: block;
    height: 100px;
    width: 100px;
    float: left;
}

#nav #navage .navagelink:hover {
    background-position: 0 0;
}

#navgrownupslink {
    background: url('../common/img/grownupslink.png') bottom;
}

#navkidslink {
    background: url('../common/img/kidslink.png') bottom;
}

#nav #navbar {
    background: #000000;
    width: 100%;
    height: 50px;
}

#nav #navbar a {
    display: block;
    float: left;
    color: #FFFFFF;
    font-family: headfont,Arial,Helvetica,sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 17px 10px;
}
#nav #navbar a:hover {
    background: #ed6e79;
}