@import url("fonts.css");
@import url("nav.css");
@import url("content.css");
@import url("bubbles.css");
@import url("footer.css");

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: parafont,Arial,Helvetica,sans-serif;
	font-size: 18px;
	min-width: 800px;
	background: #FFFFFF;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	color: white;
}

pre {
	font-family: parafont,Arial,Helvetica,sans-serif;
	font-size: 1em;
	white-space: pre-wrap;
}
